<h1 class="text-center">Create a group</h1>
<form id="groupForm" #groupForm="ngForm">
  <div class="centered-form">
    <mat-form-field>
      <input [(ngModel)]="group.title" name="title" matInput placeholder="Title">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="group.description" name="description" matInput placeholder="Description">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="group.dateAndTime" name="dateAndTime" type="datetime-local" matInput
             placeholder="Date and time">
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="group.numberOfPeople" name="numberOfPeople" type="number" min="1" matInput
             placeholder="Number of people">
    </mat-form-field>


    <mat-slider
      name="group.radius"
      [max]="max"
      [min]="min"
      [(ngModel)]="group.radius">
    </mat-slider>

    <agm-map [latitude]="initial_lat" [longitude]="initial_lon" [zoom]="15" (mapClick)="placeMarker($event)">
      <agm-marker [latitude]="group.latitude" [longitude]="group.longitude"></agm-marker>
      <agm-circle [radius]="group.radius" [latitude]="group.latitude" [longitude]="group.longitude"></agm-circle>
    </agm-map>

    <br>
    <button class="pull-right" mat-raised-button (click)="onSubmit(groupForm.value)" color="primary">Submit</button>
  </div>
</form>
