/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-form-field {
  width: 100%;
  font-size: 16px !important;
  margin-top: 8%;
}

.centered-form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
